:root {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary:rgba(255, 255, 255, 0.1);
    --bg-secondary: rgba(255, 255, 255, 0.3);
    --angle: 8px;
    --angle-o: 4px;
   
}


body {
    /* Fontcolor */
    color:mintcream;
    /* Choosing the Wallpaper */
    background-image: url("/src/wallpaper.jpg");
    background-repeat: no-repeat;
    /* stretching image to cover the whole site */
    background-size: cover;
    /* sticking the wallpaper, so it doesn't scroll */
    background-attachment: fixed;
    /* making sure body is whole site and no unwanted borders */
    margin: 0;
    padding: 0;
}

main {
    width: 900px;
    /* centering element with margin auto. width is needed */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;  
}

#main-headline {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;

    /* making the headline non selectable */
    -webkit-user-select: none; /* Chrome + Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
   
}

/* putting headline in span, so only hover kicks in on text hover not element hover */
#hl-wrap:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: mintcream;
}

#wutbh-button {
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    margin-left: 410px;
    margin-bottom: 50px;
    background-color: lightcoral;
    font-size: 1.4em;
    height: 50px;
    width: 80px;
    box-shadow: -6px 6px 0 lightsalmon;

    -webkit-user-select: none; /* Chrome + Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

#wutbh-button:hover {
        top: 3px;
        left: -3px;
        box-shadow: -3px 3px 0 white;
}

#wutbh-button:active {
    top: 6px;
    left: -6px;
    box-shadow: none;
    
}

#wutbh-button:focus,
#wutbh-button:active {
    outline: 0;
}

#wutbh {
    width: 200px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    margin-left: 340px;
    border-radius: 6px;
    visibility: hidden;
    background-color: var(--bg-secondary);
}

#masstext {
    /* clockwise -> top right bottom left */
    padding: 15px 15px 15px 15px;
    /* rounding the edges of element */
    border-radius: 20px;
    background-color: var(--bg-primary);
}