:root {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary:rgba(255, 255, 255, 0.1);
    --bg-secondary: rgba(255, 255, 255, 0.3);
}

body {
    /* Fontcolor */
    color:mintcream;
    /* Choosing the Wallpaper */
    background-image: url("/src/wallpaper.jpg");
    background-repeat: no-repeat;
    /* stretching image to cover the whole site */
    background-size: cover;
    /* sticking the wallpaper, so it doesn't scroll */
    background-attachment: fixed;
    /* making sure body is whole site and no unwanted borders */
    margin: 0;
    padding: 0;
}

main {
    width: 900px;
    /* centering element with margin auto. width is needed */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;  
}

#main-headline {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
   
}

/* putting headline in span, so only hover kicks in on text hover not element hover */
#hl-wrap:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: mintcream;
}




#masstext {
    /* clockwise -> top right bottom left */
    padding: 15px 15px 15px 15px;
    /* rounding the edges of element */
    border-radius: 20px;
    background-color: var(--bg-primary);
}